* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #0d7377;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.nav {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 224, 196);
  position: fixed;
  width: 100vw;
  font-family: "Permanent Marker", cursive;
  height: 30vh;
}

.nav > *:not(:last-child) {
  border-bottom: 2px solid #0d7377;
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-list > a {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #0d7377;
  font-size: 2em;
}

.nav > .nav-list > .active-navLink {
  color: #ac4b1c;
}

.main-content {
  display: grid;
  width: 100%;
  margin-top: 30vh;
  min-height: 70vh;
  font-family: "Baloo Tammudu 2", cursive;
  background-color: #0d7377;
}

.about-me {
  align-self: center;
  display: none; /*flex*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
  color: #32e0c4;
  line-height: 50px;
  font-size: 4vh;
}

.about-me > h1 {
  text-align: center;
}

.about-me > h2 {
  text-align: center;
}
.about-me > .about-me-cv {
  text-decoration: none;
  color: #32e0c4;
  border: 2px solid #32e0c4;
  background: #0d7377;
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

.about-me-cv > button {
  border: none;
  color: #32e0c4;
  background: #0d7377;
  outline: none;
}

.about-me-cv:hover {
  border: 3px solid #32e0c4;
  padding: 9px;
}

.about-me-cv > #resume-button:hover {
  cursor: pointer;
  font-weight: bold;
  outline: none;
}

.about-me-cv > #resume-button:active {
  border: none;
}

/* projects */

.projects {
  background: #0d7377;
  color: #32e0c4;
  min-height: inherit;
  margin-top: 5vh;
  display: none; /*grid*/
  justify-content: center;
  grid-template-columns: 70%;
  grid-gap: 20px;
  margin-bottom: 30px;
}

.project-card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr repeat(3, 1fr);
  border: 5px solid #32e0c4;
  border-radius: 10px;
  height: 20em;
}

.project-card > img {
  width: 100%;
  height: 100%;
}

.project-card > p {
  max-width: 90%;
  justify-self: center;
}

.project-card > * {
  align-self: center;
  text-align: center;
}

.project-card-demo,
.project-card-source {
  color: #fafcc2;
}

/*contact-info */
.contact-info {
  background: #0d7377;
  color: #32e0c4;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
}

.contact-info > h1 {
  text-align: center;
}

.contact-links {
  display: flex;
  flex-direction: column;
  font-size: 3em;
}

.contact-links > a {
  color: #32e0c4;
}

@media screen and (min-width: 568px) and (max-width: 811px) {
  .nav {
    grid-template-columns: repeat(3, 1fr);
    height: 10vh;
  }

  .nav > *:not(:last-child) {
    border-bottom: none;
  }

  .main-content {
    margin-top: 10vh;
    min-height: 90vh;
  }

  .projects {
    margin: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-links {
    flex-direction: row;
    justify-content: space-around;
    font-size: 3em;
    width: 300px;
  }
}

@media screen and (min-width: 812px) and (max-width: 1023px) {
  .nav {
    grid-template-columns: repeat(3, 1fr);
    height: 10vh;
  }

  .nav > *:not(:last-child) {
    border-bottom: none;
  }

  .main-content {
    margin-top: 10vh;
    min-height: 90vh;
  }

  .projects {
    margin: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .project-card {
    font-size: 1.2em;
  }

  .contact-links {
    flex-direction: row;
    justify-content: space-around;
    font-size: 3em;
    width: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    grid-template-columns: repeat(3, 1fr);
    height: 10vh;
  }

  .nav > *:not(:last-child) {
    border-bottom: none;
  }

  .main-content {
    margin-top: 10vh;
    min-height: 90vh;
  }

  .projects {
    margin: 30px;
    grid-template-columns: repeat(4, 1fr);
  }

  .project-card {
    font-size: 1.5em;
    height: 15em;
  }

  .contact-links {
    flex-direction: row;
    justify-content: space-around;
    font-size: 3em;
    width: 300px;
  }
}
